#search {
  margin-top: 2%;
  width: 40%;
  height: 50px;
  padding: 8px;
  font-size: 17px;
  -webkit-appearance: none; /*Para borrar texto del search*/
}
::placeholder {
  font-size: 15px;
}

/*BORRAR TEXTO DEL SEARCH*/
#search::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

